:root {
  --sky-blue: #0088d2;
  --grey: #e4e4eb;
  --white: #f5f0f0;
  --sidebar-hover: #026da7;
}

* {
  padding: 0px;
  margin: 0;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  min-height: 100vh;
}

/* SIDE BAR */

.sidebar {
  padding: 1.5vh 2vw;

  position: sticky;
  display: flex;
  flex-direction: column;

  background-color: var(--sky-blue);
  color: var(--white);
  font-weight: 700;
  box-shadow: 6px 0 8px -4px rgba(0,0,0,0.25);

  height: 100vh;
  overflow-y: auto;  
}

.sidebar svg {
  fill: white;

}

.title {
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: center;

  font-size: clamp(1rem, 3vw + 1rem, 4rem);
}

.title-logo {
  width: 25%;
  max-width: 600px;
  min-width: 40px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.add-project {
  align-self: center;
  margin-top: 5vh;
  padding: clamp(0.5rem, 1vw, 1.5rem) clamp(0.2rem, 2vw, 2rem);  
  border: var(--white) 1px solid;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: fit-content;
  white-space: nowrap;
  cursor: pointer;
  font-size: clamp(0.85rem, 2vw, 1.5rem);
}

.plus-svg {
  width: clamp(1rem, 2vw, 1.5rem);
}

.add-project:hover {
  transform: translateY(-3px);
  background-color: var(--sidebar-hover);
  transition: 0.2s;
}

  .add-project-form label {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .add-project-form {
    display: none;
  }

  .add-project-form button {
    cursor: pointer;
    border-radius: 9999px;
    padding: 0.2rem 0.4rem;
    border: none;
  }


  .add-project-form input {
    margin-left: 8px;
    grid-column: 1/-1;
    width: 62%;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
  }

  .add-project-form button:first-of-type {
    grid-column: 1;
    background-color: rgb(124, 231, 195);

  }

  .add-project-form button:last-of-type {
    grid-column: 2;
    background-color: crimson;
  }


.projects {
  display: flex;
  flex-direction: column;
}

.project:not(:last-child){
  border-bottom: none;
}

.project {
  border: 2px solid var(--white);
  border-radius: 10px;
  padding: 2rem;
  margin-left: -2vw;
  margin-right: -2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.project:hover {
  transform: translateY(-3px);
  background-color: var(--sidebar-hover);
  transition: 0.2s;
}

/* Main */

/* Projects infos*/

.main {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
  overflow-y: auto;
}



.project-infos {
  position: sticky;
  top: 0;
  display: grid;

  padding: 0.5rem 2rem;
  box-shadow: 0 6px 8px -4px rgba(0,0,0,0.25);
  background-color: var(--white);
  z-index: 1;
}



.project-name {
  font-size: clamp(1.8rem, 4vw,3rem);
  font-weight: 600;
}

.project-desc {
  padding: 0.5rem 0;
}

.last-line {
  align-self: end;

  display: flex;
  justify-content: space-between;
  
}

.right {
  display: flex;
  gap: 2vw;
}

/* TASKS */

.task-list {
  padding: 1rem 2rem;
  background-color: var(--grey);

  display: grid;
  gap: 1.5rem;
}

.tasks-group h3 {
  margin-bottom: 0.5rem;
  margin-left: -2vh;
}

.task-box {
  display: grid;

  border-left: solid 3px red;
  

}

.task-box label[for=checkbox] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px var(--sky-blue);
}

.task-box label[for=checkbox]:first-child {
  border-top: none;           
}

.task {
  display: grid;
}

.task-delete-btn, .project-delete-btn {
  width: 1.8rem;
  cursor: pointer;
}



.sidebar,
.main {
  scrollbar-width: none; /* Firefox */
}

.sidebar::-webkit-scrollbar,
.main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

