:root {
  --sky-blue: #0088d2;
  --grey: #e4e4eb;
  --white: #f5f0f0;
}

* {
  padding: 0px;
  margin: 0;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* SIDE BAR */

.sidebar {
  padding: 1.5vh 2vw;

  position: sticky;
  display: flex;
  flex-direction: column;

  background-color: var(--sky-blue);
  color: var(--white);
  font-weight: 700;
  min-height: 100vh;
  box-shadow: 6px 0 8px -4px rgba(0,0,0,0.25);
}

.sidebar svg {
  fill: white;

}

.title {
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: center;

  font-size: clamp(2rem, 3vw + 1rem, 4rem);
}

.title-logo {
  width: 25%;
  max-width: 600px;
  min-width: 70px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.add-project {
  align-self: center;
  margin-top: 5vh;
  padding: 1.5rem 2rem;
  border: var(--white) 1px solid;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  white-space: nowrap;

  font-size: 1.5rem;
}

.add-btn {
  width: 2rem;

}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2vh;

}

.project {
  border: 1px solid var(--white);
  
  margin-left: -2vw;
  margin-right: -2vw;

}

/* Main */

/* Projects infos*/

.main {
  display: grid;
  grid-template-rows: 1fr 3fr;
}



.project-infos {
  box-shadow: 0 6px 8px -4px rgba(0,0,0,0.25);
  z-index: 1;
}



.task-list {
  background-color: var(--grey);
}